<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerActions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerActions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerActions.Properties.Settings>
            <setting name="App_PathNewIssue" serializeAs="String">
                <value>https://github.com/Excel-projects/Server-Help/issues/new</value>
            </setting>
            <setting name="App_PathReadMe" serializeAs="String">
                <value>https://github.com/Excel-projects/Server-Help/blob/master/README.md</value>
            </setting>
            <setting name="App_ReleaseDate" serializeAs="String">
                <value>11/02/2018 12:00:00</value>
            </setting>
            <setting name="Ping_Results" serializeAs="String">
                <value>Results</value>
            </setting>
            <setting name="Ping_ServerName" serializeAs="String">
                <value>dNSHostname</value>
            </setting>
            <setting name="Rdg_Comment" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="Rdg_Description" serializeAs="String">
                <value>CN</value>
            </setting>
            <setting name="Rdg_FileName" serializeAs="String">
                <value>C:\Temp\Test.rdg</value>
            </setting>
            <setting name="Rdg_LdapPath" serializeAs="String">
                <value>LDAP://OU=Servers,...</value>
            </setting>
            <setting name="Rdg_LdapQry" serializeAs="String">
                <value>SELECT whenCreated, whenChanged, distinguishedName, OperatingSystem, OperatingSystemVersion, dNSHostname, Name, CN FROM '[Rdg.LdapPath]' WHERE objectClass = 'computer'</value>
            </setting>
            <setting name="Rdg_ServerGroup" serializeAs="String">
                <value>ServerType</value>
            </setting>
            <setting name="Rdg_ServerName" serializeAs="String">
                <value>dNSHostname</value>
            </setting>
            <setting name="Rdg_SheetName" serializeAs="String">
                <value>Servers</value>
            </setting>
            <setting name="App_PathLocalData" serializeAs="String">
                <value />
            </setting>
        </ServerActions.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ServerActions.Properties.Settings>
            <setting name="App_Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
        </ServerActions.Properties.Settings>
    </applicationSettings>
</configuration>